.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 16px 0;

  button {
    color: var(--color-primary);
    
    &.active {
      background-color: var(--color-primary) !important;
      color: white !important;
      border-radius: 6px;
    }
  }
}