<mat-toolbar color="primary">
  <span class="brand">PatriSystem</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>
  <button mat-button routerLink="/products" routerLinkActive="active-link">
    <mat-icon>inventory_2</mat-icon>
    Productos
  </button>
  <button mat-button routerLink="/categories" routerLinkActive="active-link">
    <mat-icon>category</mat-icon>
    Categorías
  </button>
  <button mat-button routerLink="/brands" routerLinkActive="active-link">
    <mat-icon>branding_watermark</mat-icon>
    Marcas
  </button>
  <button mat-button routerLink="/sales" routerLinkActive="active-link">
    <mat-icon>point_of_sale</mat-icon>
    Ventas
  </button>
</mat-toolbar>