<h2 mat-dialog-title>Nueva Marca</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre de la marca</mat-label>
      <input matInput formControlName="brandName" />
      @if (form.get('brandName')?.hasError('required')) {
        <mat-error>El nombre es requerido</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="brandDescription" />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="form.invalid">
    Guardar
  </button>
</mat-dialog-actions>