<h2 mat-dialog-title>Nueva Categoría</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre de la categoría</mat-label>
      <input matInput formControlName="categoryName" />
      @if (form.get('categoryName')?.hasError('required')) {
        <mat-error>El nombre es requerido</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn-cancel" (click)="cancel()">Cancelar</button>
  <button class="btn-submit" (click)="submit()" [disabled]="form.invalid">
    Guardar
  </button>
</mat-dialog-actions>