<h2 mat-dialog-title>Producto Manual</h2>

<mat-dialog-content>
  <p>Agrega un producto que no está en el inventario.</p>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
      <mat-label>Nombre del producto</mat-label>
      <input matInput formControlName="productName" />
      @if (form.get('productName')?.hasError('required')) {
        <mat-error>El nombre es requerido</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
      <mat-label>Precio</mat-label>
      <input matInput type="number" formControlName="unitPrice" min="0.01" />
      @if (form.get('unitPrice')?.hasError('required')) {
        <mat-error>El precio es requerido</mat-error>
      }
      @if (form.get('unitPrice')?.hasError('min')) {
        <mat-error>El precio debe ser mayor a 0</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn-cancel" (click)="cancel()">Cancelar</button>
  <button class="btn-submit" (click)="submit()" [disabled]="form.invalid">
    Agregar
  </button>
</mat-dialog-actions>